<script type="text/javascript">
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 3,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
  });
	});
</script>


<div class="page">
	<div class="header">
		<div class="header_area">
			<div class="header_1">
				<div class="logo_area">
					<img src="/assets/logo.png" alt="">
				</div>
				
				
				
				<div class="header_area_left">


								<!-- &nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="color:#666666; font-size:13px;">Forum</a><span style="color:red; font-size:13px;">&nbsp;|</span>
								<a href="" style="color:#666666; font-size:13px;">Blog</a><span style="color:red; font-size:13px;">&nbsp;|</span>
								<a href="" style="color:#666666; font-size:13px;">Contact Us</a>
							-->
							
							
					<!-- <div class="login_area">
						<a href="">User login</a>
					</div> -->
					<span style="color:#000; font-size:19px;">
						<div class="call_us">CALL US +(91)-80-40942861</div>
					</span>
				</div>

				
				
			</div>							
		</div>			
	</div>
	<div class="menu_area">
		
		<div class="menu">					 
			<ul id="nav">
				<li class="">
					<a class="" href="home.html">HOME</a> 
				</li>
				<li class="">
					<a class="" href="">ABOUT</a> 
				</li>
				<li class="">
					<%= link_to services_path do %> SERVICES <% end %>
				</li>
				<li class="">
					<a class="" href="">WHY US</a> 

					<ul>
						<li class="">
							<a class="" href="">ABC</a> 
						</li>
						<li class="">
							<a class="" href="">ABC</a> 
						</li>
						<li class="">
							<a class="" href="">ABC</a> 
						</li>
						<li class="">
							<a class="" href="">ABC</a> 
						</li>
					</ul> 
				</li>
				<li class="">
					<a class="" href="contact.html">CONTACT</a> 
				</li>	
				<li class="">
					<a class="" href="gallery.html">GALLERY</a> 
				</li>						
			</ul>

					<!-- <div class="search">
						<input type="text"  placeholder="Search"></input>
					</div> -->
				</div>	
			</div>
			<div class="main_banner_area">
			<div id="owl-demo">
	<div> <%= image_tag("office2.jpg", size: "500x400")%></div>
	<div> <%= image_tag("office1.jpg", size: "500x400")%> </div>
	<div><%= image_tag("office3.jpg" , size: "500x400")%> </div>
	<div> <%= image_tag("office4.jpg", size: "500x400")%> </div>
	<div> <%= image_tag("office5.jpg", size: "500x400")%></div>
	<div><%= image_tag("office6.jpg" , size: "500x400")%> </div>
	<div><%= image_tag("office7.jpg" ,size: "500x400")%> </div>
</div>
				
			</div>	

			


		<!-- 
		<div class="company_logo_area">
			
			<div class="company_logo">
			
				<img src="assets/Hurricane.jpg"><div class="copmany_space"></div>
				<img src="assets/cpanel.jpg"><div class="copmany_space"></div>
				<img src="assets/parallels_opt.png"><div class="copmany_space"></div>
				<img src="assets/cloudstack.jpg"><div class="copmany_space"></div>
				
			</div>
	
		</div> -->
		
		
		
		<div class="footer1"> 
			<div class="footer1_area">

				<div class="our_company">
					<br>
					<span style="color:#FFFFFF; font-size:15px; ">Our Company</span><br>
					<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span>
					<ul>
						&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px; ">
						<a href=""><li>Company</li></a>
						&nbsp;&nbsp;<a href=""><li>Meet the Team</li></a>
						&nbsp;&nbsp;<a href=""><li>Network And DataCenter</li></a>
						&nbsp;&nbsp;<a href=""><li>Technology Partner</li></a></span> 
					</ul>

						<!-- <br>
						<span style="color:#FFFFFF; font-size:15px; ">Hosting Features & Addons</span><br>
						
						<ul>
							&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px;"><a href=""><li>HA Cluster Backup</li></a>
							&nbsp;&nbsp;<a href=""><li> Protection UnixBench</li></a>
							&nbsp;&nbsp;<a href=""><li>100Mbps Network</li></a>
							</span> 
						</ul><br> -->
						<!-- 							<span style="color:#FFFFFF; font-size:10px;">___________________________________</span> -->
					</div>
					<div class="footer1_space">
					</div>

				<!-- 	<div class="support">
						<br>
						&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:15px; ">Support</span><br>
						<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span>
						<ul>
							&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px;">
							&nbsp;&nbsp;<a href=""><li>ABC</li></a>


							&nbsp;&nbsp;<a href=""><li>ABC</li></a>
							&nbsp;&nbsp;<a href=""><li> ABC</li></a></span> 
							<br>
							<span style="color:#FFFFFF; font-size:15px;"><li> Telephone : +1 469 619 4582</li></span> 
							
						</ul>
						<br>
						<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span>						

					</div> -->
					<div class="footer1_space">
					</div>
					<div class="service">
						<br>
						&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:15px;">Service</span><br>
						<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span>
						<ul>
							&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px; ">
							&nbsp;&nbsp;<a href=""><li>Commercial Security Services</li></a>
							&nbsp;&nbsp;<a href=""><li>Detective Agencies For Background Verification</li></a>
							&nbsp;&nbsp;<a href=""><li>Detective Agencies For Tracing Missing Person</li></a>
							&nbsp;&nbsp;<a href=""><li>Detective Agencies For Character Report</li></a>
						</span> 
					</ul>							
					<!-- 	<BR>
						<span style="color:#FFFFFF; font-size:15px; ">Terms Of Conditions</span><br>
						
						<ul>
							&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px; "><a href=""><li>VPS User Agreement</li></a>
							&nbsp;&nbsp;<a href=""><li> ABC</li></a>
							&nbsp;&nbsp;<a href=""><li> Privacy Policy</li></a>
							</span> 
						</ul><br> -->
						<!-- 							<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span> -->

					</div>
					<div class="footer1_space">
					</div>

			<!-- 		<div class="mainlinks">
						<br>
						&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:18px;">Main Links</span><br>
						<span style="color:#FFFFFF; font-size:10px; font-weight:bold;">___________________________________</span>
						<ul>
							&nbsp;&nbsp;<span style="color:#FFFFFF; font-size:10px;">
							 &nbsp;&nbsp;<a href=""><li>Home</li></a>
					
							&nbsp;&nbsp;<a href=""><li> Why uS</li></a>
							&nbsp;&nbsp;<a href=""><li>Support</li></a>
	
						</ul>
						     
						
								
					</div> -->
				<!-- 	<div class="footer_image">
						<img src="assets/authq.jpg" height="70px" width="70px;" style="float:right;" >
					</div> -->



				</div>
			</div>

			<div class="footer2">

				<div class="footer2_area">


					<div class="footer2_area_copy">
						<br>
						<span style="color:#CCCCCC; font-size:13px">
							© Copyright 2014, Sharp Eagle Eye. All Rights Reserved.
							<br><br>

							<!--  Powered by <img src="assets/colorcuboid.png">&nbsp;Color Cuboid Design</span> -->
						</div>
						<div class="footer2_area_sociallinks">
							<a href=""><img src="assets/twitter.png"></a>&nbsp;&nbsp;
							<a href=""><img src="assets/facebook.png"></a>&nbsp;&nbsp;
							<a href=""><img src="assets/linkedin.png"></a>&nbsp;&nbsp;
						</div>
					</div>



				</div>
			</div>